@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
    font-family: helvetica, arial, sans-serif;
	font-size:1em;
}
h1, h2{
    font-family: 'Raleway', sans-serif;
}
h1 a{
    color: #FFF;
    text-decoration: none;
    padding-left: 45%
}
.container{
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;
    width: 94%;
    margin: auto;
    padding: 7px;
    border: 7px solid purple;
}
nav ul li{	
    display:inline;
    padding-left:7.5%;
    padding-right:7.5%;
    border-left:1px solid #7E8AA2;
}
nav li:first-child{
    border-left:none;	
}
nav ul{
    padding-left:0;
    list-style:none;	
}
header{
    background-color: #667288;	
    border-radius: 8px;
}
nav li a{
    text-decoration: none;	
    color: #fff;	
}
nav li a:hover{
    color: #7E8AA2;	
}
