@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
    font-family: helvetica, arial, sans-serif;
	font-size:1em;
}
h1, h2{
    font-family: 'Raleway', sans-serif;
}
h1 a{
    color: #FFF;
    text-decoration: none;
}
#logo {
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;
    width: 94%;
    margin: auto;
    padding: 7px;
    border: 7px solid purple;
}
main {
    display: flex;
    gap: 10px;
}
.resize-img {
    width: 100%;
    height: 100%;
}
section {
    flex: 1 1 auto;
    padding: 0 10px 10px 0;
}
.sidebar {
    flex: 0 0 200px;
    padding: 20px 40px;
    border: 5px solid purple;
    border-radius: 8px;
    margin-top: 70px;
}
nav ul li{	
    display:inline;
    padding-left:10px;
    padding-right:10px;
    border-left:1px solid #7E8AA2;
}
nav li:first-child{
    border-left:none;	
}
nav ul{
    padding-left:0;
    list-style:none;	
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #667288;	
    border-radius: 8px;
}
nav li a{
    text-decoration: none;	
    color: #fff;	
}
nav li a:hover{
    color: #7E8AA2;	
}
